@media (max-width: 768px) {
   .colum1
   {
    width: 100%;
    height: auto;
   }
   .column2
    {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .colum12 h1
    {
        font-size: 30px;
    }
    .column12 p
    {
        font-size: 15px;
    }
    .column23 img 
    {
        display: none;
    }
    .column24 img 
    {
        display: none;
    }
}

@media (min-width:800px) {
    .column2
    {
        margin-left: 30px;
        width: 50%;
        height: auto;
    }
    .column12 h1
    {
        font-size: 35px;
    }
    .column12 p
    {
        font-size: 20px;
    }
    .column23 p
    {
        margin-left:25px;
    }
    .column24 p
    {
        margin-left: 30px;
    }
    .column24
    {
        margin-left: 100px;
        padding: 20px;
    }
    .column25,.column26,.column27
    {
        display: flex;
    }
    .last
    {
        width: 70%;
    }
}
body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.last
{
    background-color: rgb(47, 6, 86);
    color: aliceblue;
    border-radius: 50px;
    font-size: 17px;
}
.day
{
    color: rgb(47, 6, 86);
}
.night
{
    color:rgb(255, 255, 255);
}
